@import "../mixin";

.calculator-container {
  @include flex-col;
  margin: 0 auto;
  border: 1px solid rgb(173, 173, 173);
  @include box-shadow(0, 20px, 70px, rgba(0, 0, 0, 0.55));
}

// Display

.display-container {
  @include flex-col;
  height: 40px;
  //border-style: solid;
  //border-color: green;
}

.math-expression {
  margin: auto 0;
  @include flex-row;
  justify-content: flex-end;

  app-calculator-math-expression {
    width: 100%;
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.answer {
  margin: auto 0;
  @include flex-row;
  justify-content: flex-end;
}

// Input Pad

.action-container {
  @include flex-col;
  justify-content: space-around;
  //border-style: solid;
  //border-color: blue;
  @include non-selectable;

  [appCalculatorMathOperand], [appCalculatorMathOperator], [appCalculatorInterrupt] {
    flex-grow: 1;
    @include flex-box;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 5px;
    border: 1px solid rgba(129, 128, 130, .25);
    cursor: pointer;
    @include form-font;
  }

  [appCalculatorMathOperand] {
    $operandColor: rgb(188, 186, 189);
    background-color: $operandColor;
    &:active, &:hover {
      background-color: darken($operandColor, 5%)
    }
  }

  [appCalculatorMathOperator] {
    $operatorColor: rgb(253, 132, 51);
    background-color: $operatorColor;
    color: white;
    &:active, &:hover {
      background-color: darken($operatorColor, 5%)
    }
  }

  [appCalculatorInterrupt] {
    $operatorColor: rgb(253, 132, 51);
    background-color: $operatorColor;
    color: white;
    &:active, &:hover {
      background-color: darken($operatorColor, 5%)
    }
  }
}

[hide="true"] {
  @include hide;
}

// Breakpoints

@media only screen and (min-width: 200px) {
  .calculator-container {
    width: 182px;
  }

  .action-container {
    @include flex-wrap;
    height: 200px;

    [value="OPEN_PARENTHESIS"] {order: 1;} [value="CLOSE_PARENTHESIS"] {order: 6;} [value="INTERRUPT_ACTION_DELETE_TRAILING"] {order: 11;} [value="INTERRUPT_ACTION_CLEAR"] {order: 16;}
    [value="7"] {order: 2;} [value="8"] {order: 7;} [value="9"] {order: 12;} [value="DIVIDE"] {order: 17;}
    [value="4"] {order: 3;} [value="5"] {order: 8;} [value="6"] {order: 13;} [value="MULTIPLY"] {order: 18;}
    [value="1"] {order: 4;} [value="2"] {order: 9;} [value="3"] {order: 14;} [value="MINUS"] {order: 19;}
    [value="0"] {order: 5;} [value="."] {order: 10;} [value="INTERRUPT_ACTION_SHOW_ANSWER"] {order: 15;} [value="PLUS"] {order: 20;}
  }

}

@media only screen and (min-width: 500px) {
  .calculator-container {
    width: 300px;
  }

  .action-container {
    @include flex-wrap;
    height: 150px;

    [value="7"] {order: 1;} [value="8"] {order: 5;} [value="9"] {order: 9;} [value="OPEN_PARENTHESIS"] {order: 13;} [value="INTERRUPT_ACTION_DELETE_TRAILING"] {order: 17;}
    [value="4"] {order: 2;} [value="5"] {order: 6;} [value="6"] {order: 10;} [value="CLOSE_PARENTHESIS"] {order: 14;} [value="INTERRUPT_ACTION_CLEAR"] {order: 18;}
    [value="1"] {order: 3;} [value="2"] {order: 7;} [value="3"] {order: 11;} [value="MINUS"] {order: 15;} [value="DIVIDE"] {order: 19;}
    [value="0"] {order: 4;} [value="."] {order: 8;} [value="INTERRUPT_ACTION_SHOW_ANSWER"] {order: 12;} [value="PLUS"] {order: 16;} [value="MULTIPLY"] {order: 20;}
  }

}
