<div class="calculator-container">

  <div class="display-container">

    <div class="math-expression">
      <app-calculator-math-expression></app-calculator-math-expression>
    </div>

    <div class="answer" [attr.hide]="hideAnswer">
      <app-calculator-answer></app-calculator-answer>
    </div>

  </div>

  <div class="action-container">

    <div appCalculatorMathOperand value="0">0</div>
    <div appCalculatorMathOperand value="1">1</div>
    <div appCalculatorMathOperand value="2">2</div>
    <div appCalculatorMathOperand value="3">3</div>
    <div appCalculatorMathOperand value="4">4</div>
    <div appCalculatorMathOperand value="5">5</div>
    <div appCalculatorMathOperand value="6">6</div>
    <div appCalculatorMathOperand value="7">7</div>
    <div appCalculatorMathOperand value="8">8</div>
    <div appCalculatorMathOperand value="9">9</div>
    <div appCalculatorMathOperand value=".">.</div>
    <div appCalculatorMathOperand value="OPEN_PARENTHESIS">&#40;</div>
    <div appCalculatorMathOperand value="CLOSE_PARENTHESIS">&#41;</div>

    <div appCalculatorMathOperator value="PLUS">&#43;</div>
    <div appCalculatorMathOperator value="MINUS">&#8722;</div>
    <div appCalculatorMathOperator value="MULTIPLY">&#215;</div>
    <div appCalculatorMathOperator value="DIVIDE">&#247;</div>

    <div appCalculatorInterrupt value="INTERRUPT_ACTION_DELETE_TRAILING">&#9003;</div>
    <div appCalculatorInterrupt value="INTERRUPT_ACTION_CLEAR">&otimes;</div>
    <div appCalculatorInterrupt value="INTERRUPT_ACTION_SHOW_ANSWER">&#61;</div>

  </div>

</div>
