@import "../../mixin";

@mixin icon-normal {
  background-size: 15px 15px;
  background-position-y: 3px;
}

@mixin icon-large {
  background-size: 24px 24px;
  background-position-y: 6px;
}

.container {
  @include flex-row;
}

.icon {
  flex-basis: 20px;
  flex-shrink: 0;

  &__tv {
    background: url($tv-icon) no-repeat 3px;
    @include icon-normal;
  }

  &__film {
    background: url($movie-icon) no-repeat 3px;
    @include icon-normal;
  }
}

a {
  display: inline-block;
  padding-left: 2px;
  @include form-font;
  text-decoration: none;
  font-size: inherit;

  &:link, &:visited, &:hover, &:focus, &:active {
    color: black;
  }
}

// Breakpoints

@media only screen and (min-width: 200px) {
  .icon {
    flex-basis: 30px;

    &__tv {
      @include icon-large;
    }
    &__film {
      @include icon-large;
    }
  }
}

@media only screen and (min-width: 500px) {
  .icon {
    flex-basis: 20px;

    &__tv {
      @include icon-normal;
    }
    &__film {
      @include icon-normal;
    }
  }
}
