<div class="container">
  <div class="icon" [ngClass]="{'icon__tv' : typeAheadResultItem.isTv, 'icon__film' : typeAheadResultItem.isFilm}">
  </div>
  <a href="javascript:void(0);" (click)="onClick()">{{typeAheadResultItem.title}}</a>
</div>
