<form #formElement (submit)="submit()" [attr.action]="searchRedirectUrl" method="get" target="_blank">
  <input type="hidden" [attr.name]="searchRedirectSearchKey" [attr.value]="buffer" />

  <div class="search-container">
    <div class="search-bar">

      <div class="search-input">
        <app-auto-complete-type-ahead-input></app-auto-complete-type-ahead-input>
        <app-auto-complete-type-ahead-result></app-auto-complete-type-ahead-result>
        <button type="button" aria-label="clear input" (click)="resetInput()"></button>
      </div>

      <div class="search-button">
        <button type="submit"></button>
      </div>

    </div>
  </div>

</form>
