@import "../mixin";

$border-radius: 40px;

@mixin generic-border {
  border: 2px tomato solid;
}

@mixin generic-button {
  border-style: none;
  cursor: pointer;
  height: 100%;
}

@mixin search-icon-normal {
  background: url($search-logo-white) no-repeat 4px 3px;
  background-size: 20px;
}
@mixin search-icon-large {
  background: url($search-logo-white) no-repeat -4px 0;
  background-size: 36px;
}

@mixin reset-icon-normal {
  flex-basis: 20px;
  background: url($clear-button) no-repeat 4px 8px;
  background-size: 10px;
}
@mixin reset-icon-large {
  flex-basis: 30px;
  background: url($clear-button) no-repeat 2px 6px;
  background-size: 24px;
}

@mixin input-font-size-normal {
  app-auto-complete-type-ahead-input, app-auto-complete-type-ahead-result {
    font-size: large;
  }
}
@mixin input-font-size-large {
  app-auto-complete-type-ahead-input, app-auto-complete-type-ahead-result {
    font-size: xx-large;
  }
}

.search-container {
  @include flex-col;
  margin: 0 auto;
  border: 0 solid rgb(173, 173, 173);
}

.search-bar {
  @include flex-row;
  justify-content: space-between;
  height: 30px;
  @include box-shadow(0, 20px, 70px, rgba(0, 0, 0, 0.55));
}

.search-input {
  flex-basis: 100%;
  @include flex-box;
  @include flex-wrap;
  @include generic-border;
  @include input-font-size-normal;

  app-auto-complete-type-ahead-input {
    order: 1;
    height: 100%;
    font-size: large;

    &[is-empty="true"] {
      flex-basis: 100%;

      & + app-auto-complete-type-ahead-result + button {
        display: none;
      }
    }

    &[is-empty="false"] {
      flex: 1;
    }
  }

  button {
    order: 2;
    @include generic-button;
    @include reset-icon-normal;
  }

  app-auto-complete-type-ahead-result {
    order: 3;
    flex-basis: 100%;
  }
}

.search-button {
  @include generic-border;
  background-color: tomato;

  button {
    width: 30px;
    @include generic-button;
    @include search-icon-normal;
  }
}

// Breakpoints

@media only screen and (min-width: 200px) {

  .search-bar {
    height: 40px;
  }

  .search-input {
    @include input-font-size-large;

    button {
      @include reset-icon-large;
    }
  }

  .search-button {
    button {
      @include search-icon-large;
    }
  }
}

@media only screen and (min-width: 500px) {

  .search-container {
    width: 300px;
  }

  .search-bar {
    border-radius: $border-radius;
    height: 30px;
  }

  .search-input {
    padding-left: 12px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    @include input-font-size-normal;

    button {
      @include reset-icon-normal;
    }
  }

  .search-button {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    button {
      @include search-icon-normal;
    }
  }
}
