@import "../../mixin";

$gray-blue: rgb(110, 132, 145);

nav {
  margin-bottom: 40px;
  @include flex-row;
  @include flex-wrap;
  justify-content: space-between;

  //border: 1px solid red;
}

.logo {
  flex-basis: 50%;
  width: 25px;
  height: 25px;
  background: url($angular-logo) no-repeat;
}

.menu-toggle {
  flex-basis: 50%;
  @include flex-row-reverse;
  @extend %menu-toggle-button;
}

.menu-item-list {
  flex-basis: 100%;
  list-style-type: none;
  @extend %menu-item-list-as-drop-down
}

%menu-toggle-button {
  #menu-toggle-button {

    // make checkbox invisible
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    @include opacity(0);

    // let label reflect the state of the checkbox
    & + label {
      @include inline-flex-box;
      width: 40px;
      height: 100%;

      &[menu-is-active="true"] {
        color: white;
        background-color: $gray-blue;
        @include box-shadow(0, 0, 48px, rgba(0, 0, 0, 1));
      }

      &[menu-is-active="false"] {
        color: $gray-blue;
        background-color: white;
      }

      & > span {
        margin: auto 0;
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-size: xx-large;
      }
    }

    // make checkbox label focus-able
    &:focus + label {
      @include focus-outline;
    }

  }
}

%menu-item-list-as-drop-down {
  background-color: $gray-blue;
  @include box-shadow(-4px, 4px, 20px, rgba(0, 0, 0, 0.25), true);

  &[menu-is-active="false"] {
    display: none;
  }

  & li {
    @include flex-col;
    margin: 4px 0;
  }

  & h2 {
    @include flex-row-reverse;
    align-items: center;
    padding: 2px 0;
  }

  & a {
    flex-grow: 1;
    height: 100%;
    text-decoration: none;

    &:link, &:visited, &:hover, &:focus, &:active {
      color: white;
    }

    & span {
      @include form-font;
      font-size: large;
    }

    // list selection indicator
    & + span {
      @include opacity(0);
      width: 2px;
      margin-left: 4px;
      margin-right: 4px;
    }

    &.active + span {
      @include opacity(1);
      background-color: white;
    }
  }
}

// Breakpoints

@media only screen and (min-width: 200px) {

  .logo {
    width: 50px;
    height: 50px;
  }

}

@media only screen and (min-width: 500px) {

  nav {
    @include flex-row;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    flex-basis: auto;
    width: 75px;
    height: 75px;
  }

  .menu-toggle {
    flex-basis: auto;
    display: none;
  }

  .menu-item-list {
    flex-basis: auto;
    @extend %menu-item-list-as-tab;
  }

  %menu-item-list-as-tab {
    background-color: transparent;
    @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0), true);

    &[menu-is-active="true"], &[menu-is-active="false"] {
      @include flex-row;
    }

    & li {
      @include flex-col-reverse;
      margin: 0 8px;
    }

    & h2 {
      @include flex-col;
      padding: 2px 0;
    }

    & a {
      height: 100%;
      text-decoration: none;

      &:link, &:visited, &:hover, &:focus, &:active {
        color: $gray-blue;
      }

      // list selection indicator
      & + span {
        @include opacity(0);
        height: 2px;
        width: 110%;
      }

      &.active + span {
        @include opacity(1);
        background-color: $gray-blue;
      }
    }
  }

}
