<nav>

  <div class="logo"></div>

  <div class="menu-toggle">
    <input id="menu-toggle-button" type="checkbox" aria-label="Show Navigation Menu" [(ngModel)]="menuIsActive">
    <label for="menu-toggle-button" [attr.menu-is-active]="menuIsActive">
      <span *ngIf="menuIsActive; else navMenuOpen">&#10005;</span>
      <ng-template #navMenuOpen><span>&#9776;</span></ng-template>
    </label>
  </div>

  <ul [attr.menu-is-active]="menuIsActive" class="menu-item-list">

    <li><h2>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span>Home</span>
      </a>
      <span>&nbsp;</span>
    </h2></li>

    <li><h2>
      <a routerLink="/calc" routerLinkActive="active">
        <span>Basic Calculator</span>
      </a>
      <span>&nbsp;</span>
    </h2></li>

    <li><h2>
      <a routerLink="/auto-complete" routerLinkActive="active">
        <span>Auto-Complete</span>
      </a>
      <span>&nbsp;</span>
    </h2></li>

  </ul>

</nav>
