<div class="content-container">
  <div class="content">

    <section>
      <h2>
        Demo
      </h2>

      <ul>
        <li><a routerLink="/calc">
          <span>See the Basic Calculator App</span>
        </a></li>
        <li><a routerLink="/auto-complete">
          <span>See the Auto-Complete App</span>
        </a></li>
      </ul>
    </section>

    <section>
      <h2>
        Code management
      </h2>

      <p>
        Angular CLI v6.2.6
      </p>
    </section>

    <section>
      <h2>
        State management
      </h2>

      <ul>
        <li>
          @ngrx/store v6.1.1
        </li>
        <li>
          @ngrx/effects v6.1.1
        </li>
      </ul>
    </section>

    <section>
      <h2>
        Calculation
      </h2>

      <p>
        angular-basic-calculator v0.0.1
      </p>
    </section>

    <section>
      <h2>
        Responsiveness
      </h2>

      <p>
        CSS FlexBox
      </p>
    </section>

    <section>
      <h2>SPA Source Code</h2>
      <p>
        <a href="https://bitbucket.org/kdha200501/jacks-angular6-demo-app/src/master/" target="_blank">Demo App</a>
      </p>
    </section>

    <section>
      <h2>Library Source Code</h2>
      <p>
        <a href="https://bitbucket.org/kdha200501/jacks-angular6-demo-lib/src/master/projects/angular-basic-calculator/" target="_blank">Demo Library</a>
      </p>
    </section>

    <section>
      <h2>CLI Notes</h2>
      <p>
        <a href="https://bitbucket.org/kdha200501/angular6-cli-pre-configured/src/master/" target="_blank">Notes</a>
      </p>
    </section>

  </div>
</div>
