@import "../mixin";

.content-container {
  @include flex-col;
}

.content {
  @include flex-col;
  @include form-font;
}

section {
  & h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    & + p, & + ul {
      margin-left: 10px;
    }
  }

  & ul {
    list-style-type: none;

    & li {
      margin-bottom: 10px;
    }
  }
}

// Breakpoints

@media only screen and (min-width: 500px) {
  .content {
    @include flex-row;
    @include flex-wrap;
    margin: 0 auto;
    width: 500px;
  }

  section {
    flex-basis: 100%;
  }
}
