<ul appAutoCompleteTypeAheadStatus *ngIf="(typeAheadResultHover$ | async) as typeAheadResultHover">

  <li *ngFor="let typeAheadResultItem of (typeAheadResultItemList$ | async); let idx = index"
      [ngClass]="{'is-hover' : typeAheadResultHover.idx === idx + 1}">
    <app-auto-complete-type-ahead-result-item [typeAheadResultItem]="typeAheadResultItem"
                                              (selectTypeAheadResultItem)="onSelectTypeAheadResultItem($event)">
    </app-auto-complete-type-ahead-result-item>
  </li>
  <li class="loading-ellipsis"></li>

</ul>
