@import "../../mixin";

$border-radius: 5px;
$border: 1px rgba(128, 128, 128, 0.5) solid;

ul {
  flex-basis: 100%;
  border: $border;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: white;
  list-style-type: none;

  &[expect-result="false"] {
    display: none;
  }

  &[is-pending="true"] li.loading-ellipsis {
    height: 20px;
    background: url($loading-ellipsis) no-repeat 0 -15px;
    background-size: 50px 50px;
  }

  & li {
    @include flex-col;

    &:not(.loading-ellipsis) {
      border-bottom: $border;
    }

    &:nth-last-child(2) {
      border-bottom: none;
    }

    &.is-hover {
      background-color: rgb(252, 241, 177);
    }
  }
}
