@import "../../mixin";

div {
  @include flex-row;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

p {
  margin: auto 0;
  font-size: 24px;
  @include form-font;
  display: block;
  width: 100%;
  text-align: right;
  white-space: nowrap;
}
