<div class="container" appAutoCompleteTypeAheadResultHover [typeAheadInput]="typeAheadInput">

  <div *ngIf="(typeAheadResultHover$ | async) as typeAheadResultHover" [attr.is-hover]="typeAheadResultHover.idx === 0"></div>

  <input type="text"
         placeholder="Search titles on IMDB"
         #inputElement
         [(ngModel)]="buffer"
         (focus)="onFocus()"
         (blur)="onBlur()"
         (keydown)="keyboardEvent$.next($event)"
         (keyup)="keyboardEvent$.next($event)"
         [attr.is-reactive]="typeAheadInput.isReactive">
</div>
