@import "../../mixin";

@include remove-ie-input-clear;

.container {
  height: 100%;
}

input {
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  border-style: none;
  @include form-font;
  font-size: inherit;

  [is-hover="true"] + &[is-reactive="false"] {
    background-color: rgb(252, 241, 177);
  }

}
